<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9ce3f86914.js" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/" class="logo"><img src="/images/logo-mercado-liebre.svg" alt ="logo de Mercado Liebre"></a>
            
            <form action="/" method="POST"class="barra-busqueda">

                <input type="text" placeholder="Search.." class="input-busqueda"><button type="submit"><i class="fas fa-search busqueda"></i></button>
            
            </form>
            <h2 class="copy-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjetas de crédito</h2>
        </div>
        <nav class="main-nav-bar oculto-enmobile">
                <ul class="left-nav-bar">
                    <li><a href=# >Ofertas</a></li>
                    <li><a href=# >Tiendas oficiales</a></li>
                    <li><a href=# >Vender</a></li>
                    <li><a href=# >Ayuda</a></li>
                </ul>
                <ul class="right-nav-bar">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login" >Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href=# >Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
        </nav> 
        <div><i class="fas fa-bars burger"></i>
            <!--  Como hacer que el alto se mantenga relativamente al alto cuando vario la vista -->
            </div>
    </header>
    <form action="/" method="POST" class="create-form">
        <div class="control-formulario">
         
            <input type="text" name="nombre-apellido" class="control" placeholder="Nombre y Apellido">
        </div>
        <div class="control-formulario">
    
            <input type="email" name="nombre-usuario" class="control" placeholder="Nombre de usuari@:">
        </div>
        <div class="control-formulario">
            <label>Fecha de Nacimiento:</label>
            <input type="date" name="fecha-nacimiento" class="control">
        </div>
        <div class="control-formulario">
            <input type="text" name="domicilio" class="control" placeholder="Domicilio">
        </div>
        <div class="control-formulario">
            <label>Perfil de usuario:</label>
            <label><input type="radio" name="perfil-usuario" value="Comprador"> Comprador</label>
            <label><input type="radio" name="perfil-usuario" value="Vendedor"> Vendedor</label>
        </div>
        <div class="control-formulario">
            <label>Categoria de interés:</label>
            <select name="categoria-interes" class="control">
                <option value="electro">Electro</option>
                <option value="moda">Moda</option>
                <option value="hogar">Hogar</option>
                <option value="Jugueteria">Juguetería</option>
                <option value="Vida Sana">Vida Sana</option>
            </select>
        </div>
          
        <label class="control-formulario-2">Subí tu foto: <input type="file" name="foto"></label>
          
        </div>
        <div class="control-formulario">
            <input type="password" name="password" class="control" placeholder="Contraseña">
        </div>
        <div class="control-formulario">
            <input type="password" name="confirmar-password" class="control" placeholder="Confirmar Contraseña">
        </div>
    
        <button type="reset" class="boton-formulario">Borrar</button>
        <button type="submit" class="boton-formulario boton-enviar">Enviar</button>
    </form>
    <footer>
        <div class="footer-superior">
        <section>
            <i class="fas fa-credit-card iconos-footer"></i>
            <h3>Pagá con tarjeta o efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift iconos-footer"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        </section>
        <section>
            <i class="fas fa-user-shield iconos-footer"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        </div>
        <section>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>